@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
        *{
            margin:0;
            padding:0;
            font-family: 'Inter', sans-serif;
        }
        /*LLISTA*/
        ul li{
            list-style-type: none; 
             
        }
        a {
            text-decoration: none;
        }
        :root{
            --blue: #0066db;
            --yellow: #fef9b4;
        }
        body {
            font-size: 20px;
        }
        header, nav, main, footer{
            padding: 0px 15vw;
        }
        /*HEADER*/
        header{
            font-size: 1.3em;
            display: flex;
            justify-content: center;
            align-items: center;
        
            background-color: var(--blue);
            color: #FEDCB4;
            height: 8vh;
        }
        H1, h2{
            text-align: center;
    
        }
        H1{
            font-weight: 900;
        }
        H2{
            font-weight: 100;
        }
        /*NAV*/
        nav{
            font-size: 1em;
            display: flex;
            justify-content:  center;
            align-items: center;
            flex-direction: row;
            background-color: var(--yellow);
            height: 17vh;

        }
        nav img{
            width: 120.87px;
            height: 123.8px;
        }
        nav a {
            flex-direction: row;
            font-size: 1.2em;
            color: var(--blue);
        }
        /*MAIN*/
        main{
            font-size: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--yellow);
            height: 58vh;

        }
        /*FOOTER*/
        footer{
            font-size: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: var(--blue);
            color: var(--yellow);
            height: 17vh;

        }

   